<div class="row" style="margin:0.5em">
    <div class="col-xs-12">
        <img src="/img/logo.png" class="img img-responsive" alt="Is the force with me?">
    </div>
    
</div>
<div class="container" style="border: 2px solid yellow;
    border-radius: 15px; background-color:lightgrey;">
    <div class="row" *ngIf="inputMode">
        <div class="col-sm-12" >
            <h3>Will I make the top?</h3>
            <p>
                So, you want to know if you gonna make it to top? Give us numbers and we will do the math.
            </p>
            <hr>
            <form #form="ngForm" (ngSubmit)="onSubmit(form);">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="NumberOfPlayers"><i class="swg swg-xwing swg-lg"></i>Number of players:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" [class.has-error]="NumberOfPlayers.invalid && NumberOfPlayers.touched">
                            <input #NumberOfPlayers="ngModel" type="tel" pattern="^[0-9]*$" required class="form-control" id="NumberOfPlayers" name="NumberOfPlayers"
                                [(ngModel)]="inputModel.NumberOfPlayers"/>
                            <div *ngIf="NumberOfPlayers.invalid && NumberOfPlayers.touched" class="alert alert-danger">
                                Number of players is required!
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-xs-12">
                        <label for="NumberOfRounds"><i class="swg swg-lightsabers swg-lg"></i>Number of rounds:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" [class.has-error]="NumberOfRounds.invalid && NumberOfRounds.touched">
                            <input #NumberOfRounds="ngModel" type="tel" pattern="^[0-9]*$" required class="form-control" id="NumberOfRounds" name="NumberOfRounds"
                                [(ngModel)]="inputModel.NumberOfRounds"/>
                            <div *ngIf="NumberOfRounds.invalid && NumberOfRounds.touched" class="alert alert-danger">
                                Number of rounds is required!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <label for="SizeOfTop"><i class="swg swg-deathstar swg-lg"></i>Size of top:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                        <select class="form-control" name="SizeOfTop" id="SizeOfTop" required [(ngModel)]="inputModel.SizeOfTop">
                            <option value="2">2</option>
                            <option value="4">4</option>
                            <option value="8" selected>8</option>
                            <option value="16">16</option>
                            <option value="32">32</option>
                            <option value="64">64</option>
                        </select>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row"  style="margin-bottom:1em">
                    <div class="col-xs-12">
                        <div>
                            <button type="submit" [disabled]="form.invalid" class="btn btn-primary pull-right">
                                <i class="swg swg-falcon swg-lg swg-2x"></i>
                                    <strong>I have bad feelings about this...</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" *ngIf="!inputMode">
        <div class="col-sm-12">
            <h3>Results</h3>
            <div class="row">
                <div class="col-xs-12">
                    <div  *ngFor="let result of compactResult">
                        <h5><strong>{{result.Header}}</strong></h5>
                        <div *ngIf="!result.CombinedProgress" class="progress">
                            <div class="progress-bar progress-bar-striped active" [ngClass]="result.Display" role="progressbar" style="width:100%">
                                {{result.Label}}
                            </div>
                        </div>
                        <div *ngIf="result.CombinedProgress" class="progress">
                            <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" [ngStyle]="{'width': result.Probability+'%'}">
                                <div>{{result.Label}}</div>
                            </div>
                            <div class="progress-bar progress-bar-striped active progress-bar-danger" role="progressbar" [ngStyle]="{'width': 100-result.Probability+'%'}">
                                <div>{{result.Label}}</div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-bottom:1em">
                <div class="col-xs-12">
                    <div>
                        <button (click)="recalculateClick()" class="btn btn-primary pull-right">
                            <i class="swg swg-c3po swg-lg swg-2x"></i>
                                <strong>Never tell me the odds</strong>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>